<a href="https://colab.research.google.com/github/A316895/Introduction-to-Data-Science/blob/master/Week7_A108260035_%E8%A8%B1%E7%80%9E%E8%94%86.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
s1 ="123"
s2 = "456"
s3 = s1 + s2
print(s3)
s4 = s1 * 2
print(s4)

s5 = '春眠不覺曉，處處聞啼鳥。\n\
夜來風雨聲，花落知多少。\n\
\t作者"孟浩然" 詩名"春曉"'
print(s5)

123456
123123
春眠不覺曉，處處聞啼鳥。
夜來風雨聲，花落知多少。
	作者"孟浩然" 詩名"春曉"

In [4]:
s='123456789'
print(s[0])
print(s[1])
print(s[-1])
print(s[-2])
s='0123456789'
print('s=',s)
print('s[0]=',s[0])
print('s[1]=',s[1])
print('s[-1]',s[-1])
print('s[-2]',s[-2])

1
2
9
8
s= 0123456789
s[0]= 0
s[1]= 1
s[-1] 9
s[-2] 8

In [5]:
print('s=', s, 's[:]=', s[:])
print('s=', s, 's[5:]=', s[5:])
print('s=', s, 's[-2:]=', s[-2:])
print('s=', s, 's[:5]=', s[:5])
print('s=', s, 's[:-2]=', s[:-2])
print('s=', s, 's[7:9]=', s[7:9])
print('s=', s, 's[-4:-1]=', s[-4:-1])
print('s=', s, 's[5:-2]=', s[5:-2])
print('s=', s, 's[2:10:2]=', s[2:10:2])

s= 0123456789 s[:]= 0123456789
s= 0123456789 s[5:]= 56789
s= 0123456789 s[-2:]= 89
s= 0123456789 s[:5]= 01234
s= 0123456789 s[:-2]= 01234567
s= 0123456789 s[7:9]= 78
s= 0123456789 s[-4:-1]= 678
s= 0123456789 s[5:-2]= 567
s= 0123456789 s[2:10:2]= 2468

In [12]:
s = '春眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。'
print(len(s))
s1='春眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。'
list1=s1.split('，')
print(list1)
list1 = ['春眠不覺曉','處處聞啼鳥','夜來風雨聲','花落知多少。']
s2='，'.join(list1)
print(s2)

24
['春眠不覺曉', '處處聞啼鳥', '夜來風雨聲', '花落知多少。']
春眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。

In [14]:
s1='春眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。'
print(s1.find('花落'))
print(s1.count('處'))
s3=s1.replace('春','冬')
print(s3)

18
2
冬眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。

In [17]:
s1='An apple a day'
print(s1.capitalize())
print(s1.title())
print(s1.swapcase())
print(s1.upper())
print(s1.lower())

An apple a day
An Apple A Day
aN APPLE A DAY
AN APPLE A DAY
an apple a day

In [18]:
t1=()
print(t1)
t2=1,2,3
print(t2)
t3=(1,2,3)
print(t3)
list1=[1,2,3,4]
t4=tuple(list1)
print(t4)
t4=(1,2,3,4)
t5=(t4,5,6)
print(t5)
t6=('z',)
print(t6)

()
(1, 2, 3)
(1, 2, 3)
(1, 2, 3, 4)
((1, 2, 3, 4), 5, 6)
('z',)

In [19]:
t3=(1,2,3)
print(t3[0])
t4=(1,2,3,4)
t5=(t4,5,6)
print(len(t5))
print(t5[0][0])

1
3
1

In [20]:
t3=(1,2,3)
a,b,c=t3
print('a=',a,',b=',b,',c=',c)
a=10
b=20
print('交換前','a=',a,',b=',b)
a,b=b,a
print('交換後','a=',a,',b,',b)

a= 1 ,b= 2 ,c= 3
交換前 a= 10 ,b= 20
交換後 a= 20 ,b, 10

In [21]:

shoplist=['牛奶','蛋','咖啡豆','西瓜','鳳梨']
print('購物清單shhoplist為')
print(shoplist)
listm=[1,2.0,'Python']
print('串列可以包含各種資料型別的元素')
print(listm)
list1=list('Python')
print(list1)
tuple2=('a','b',1,2)
list2=(list(tuple2))
print(list2)

購物清單shhoplist為
['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨']
串列可以包含各種資料型別的元素
[1, 2.0, 'Python']
['P', 'y', 't', 'h', 'o', 'n']
['a', 'b', 1, 2]

In [22]:
shoplist=['牛奶','蛋','咖啡豆','西瓜','鳳梨']
print('購物清單shoplist的長度為',len(shoplist))
shoplist1=['牛奶','蛋','咖啡豆']
shoplist2=['西瓜','鳳梨']
shoplist_all=shoplist1+shoplist2
print(shoplist_all)

購物清單shoplist的長度為 5
['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨']

In [23]:
shoplist=['牛奶','蛋','咖啡豆','西瓜','鳳梨']
print('顯示shoplist[0]',shoplist[0])
index=shoplist.index('咖啡豆')
print("執行 index=shoplist.index(咖啡豆)後")
print('index=',index)
shoplist[1]='皮蛋'
print("執行 shoplist='皮蛋'後")
print(shoplist)
a=list('abcdefghijk')
print('a[:]為',a[:])
print('a[:5]為',a[:5])
print('a[5:]為',a[5:])
print('a[:-5]為',a[:-5])
print('a[-5:]為',a[-5:])

顯示shoplist[0] 牛奶
執行 index=shoplist.index(咖啡豆)後
index= 2
執行 shoplist='皮蛋'後
['牛奶', '皮蛋', '咖啡豆', '西瓜', '鳳梨']
a[:]為 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']
a[:5]為 ['a', 'b', 'c', 'd', 'e']
a[5:]為 ['f', 'g', 'h', 'i', 'j', 'k']
a[:-5]為 ['a', 'b', 'c', 'd', 'e', 'f']
a[-5:]為 ['g', 'h', 'i', 'j', 'k']