<a href="https://colab.research.google.com/github/A316895/Introduction-to-Data-Science/blob/master/Week16_A108260035_%E8%A8%B1%E7%80%9E%E8%94%86.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
i=1
while(i<6):
  print(i)
  if i ==3:
    break
  i+=1

1
2
3

In [3]:
i=0
while(i<5):
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5

In [4]:
i=1
while(i<6):
  print(i)
  if i==6:
    break
  i+=1
else:
  print("while迴圈正常結束")

1
2
3
4
5
while迴圈正常結束

In [6]:
while True:
  acc=input('請輸入帳號')
  pwd=input('請輸入密碼')
  if (acc =='abc' and pwd =='123'):
    print('帳號與密碼正確')
    break
  else:
    print('登入失敗')

請輸入帳號123
請輸入密碼123
登入失敗
請輸入帳號abc
請輸入密碼123
帳號與密碼正確

In [7]:
answer="b246"
while True:
  password=input("Enter your password")
  if password==answer:
    print("ENTER THE SYSTEM")
    break
  else:
    print("Try Again")

Enter your passwordb246
ENTER THE SYSTEM

In [8]:
password="a123456"
times=0
while times <= 3:
  answer=input("Enter Your Password:")
  if answer == password:
    print("登入成功")
    break
  else:
    times=times+1
    chance=3-times
    print("密碼錯誤!還有", chance, "次機會")

Enter Your Password:a12345
密碼錯誤!還有 2 次機會
Enter Your Password:a123
密碼錯誤!還有 1 次機會
Enter Your Password:a123456
登入成功

In [9]:
range(5)
range(3)

range(2,5)
range(8,10)

range(2,10,3)
for i in range(5):
  print(i)

0
1
2
3
4

In [10]:
range(5)

range(3)

range(2,5)
range(8,10)

range(2,10,3)
range(3,8,2)
range(10,3,-2)

range(10, 3, -2)

In [12]:
for i in range(5):
  print(i)
for i in range(2,5):
  print(i)
for i in range(2,10,3):
  print(i)

0
1
2
3
4
2
3
4
2
5
8

In [15]:
start=int(input("Enter a number?"))
end=int(input("Enter a number?"))
step=int(input("Enter a number?"))
sum=0
for i in range(start,end,step):
  sum=sum+i
  print("i is", i, "sum equals",sum)

Enter a number?3
Enter a number?6
Enter a number?9
i is 3 sum equals 3